@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/**llamado a las tipografias por css**/
/* 
mis fuentes
font-family: 'Anton', sans-serif;
font-family: 'Lato', sans-serif;
*/
/*
colores
#006845
#083526
*/
nav {
  list-style: none;
}
nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (min-width: 600px) {
  nav ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
nav ul li {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
nav ul li:hover {
  transform: scale(1.2);
  transition: all 1s;
}
nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 600px) {
  nav ul li {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  nav ul li {
    font-size: 2rem;
  }
}

.nosotros {
  background: rgb(13, 70, 51);
  background: linear-gradient(0deg, rgb(13, 70, 51) 1%, rgb(13, 70, 51) 35%, rgba(8, 41, 29, 0.914) 63%, rgba(0, 0, 0, 0.782) 94%);
  text-align: center;
  font-family: "Anton", sans-serif;
  font-weight: bold;
  color: white;
}

.imgTitulo {
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
  border-radius: 0rem 0rem 5rem 5rem;
}

.textoPortada {
  font-size: 6rem;
}

.gridsInicio {
  margin: 5px 5px;
  width: 100%;
}

.texto1, .texto2, .texto3 {
  background-color: #006845;
  color: whitesmoke;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  padding: 2rem 2rem;
}

.imgPortada {
  width: 100%;
  height: 100%;
}

.videoIndex {
  margin: 0 auto;
  width: 95%;
  padding-top: 5px;
}

@media screen and (min-width: 600px) {
  .gridsInicio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "foto1 texto1" "texto2 foto2" "foto3 texto3";
  }
  .texto1, .texto2, .texto3 {
    grid-area: texto1;
  }
  .foto1 {
    grid-area: foto1;
  }
  .texto2 {
    grid-area: texto2;
  }
  .foto2 {
    grid-area: foto2;
  }
  .texto3 {
    grid-area: texto3;
  }
  .foto3 {
    grid-area: foto3;
  }
  .texto1, .texto2, .texto3 {
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem 2rem 2rem;
  }
  .videoIndex {
    width: 600px;
    height: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .gridsInicio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "foto1 texto1 foto2" "texto2 foto3 texto3 " "videoIndex videoIndex videoIndex";
  }
  .texto1, .texto2, .texto3 {
    font-size: 1.8rem;
  }
  .videoIndex {
    width: 80rem;
    height: 40rem;
  }
}
.grillaServicios {
  width: 98%;
  width: 0px auto;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 600px) {
  .grillaServicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "textoServicios textoServicios" "servicosCard1 servicosCard2" "servicosCard3 servicosCard4" "mpCard mpCard";
  }
}
@media screen and (min-width: 992px) {
  .grillaServicios {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "textoServicios textoServicios textoServicios textoServicios" "servicosCard1 servicosCard2 servicosCard3 servicosCard4" "mpCard mpCard mpCard mpCard";
  }
}

.servicosCard1 {
  grid-area: servicosCard1;
}

.servicosCard2 {
  grid-area: servicosCard2;
}

.servicosCard3 {
  grid-area: servicosCard3;
}

.servicosCard4 {
  grid-area: servicosCard4;
}

.mpCard {
  grid-area: mpCard;
}

.textoServicios {
  grid-area: textoServicios;
  color: white;
  background-color: #006845;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  border-radius: 2rem;
  border: 3px solid rgba(0, 0, 0, 0.321);
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 15px 15px;
}
@media screen and (min-width: 600px) {
  .textoServicios {
    font-size: 1.7rem;
    margin-left: 6rem;
    margin-right: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .textoServicios {
    font-size: 1.9rem;
    margin-left: 10rem;
    margin-right: 10rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.boxServicos {
  height: 32rem;
  width: 24rem;
  background-color: #006845;
  margin: 3rem 2rem 3rem 2rem;
  padding: 1rem 1rem 1rem 1rem;
  border: 3px solid rgba(0, 0, 0, 0.321);
  border-radius: 2rem;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: whitesmoke;
}

.imagenS {
  width: 80%;
  margin-bottom: 5px;
}

.imagenS:hover {
  transform: translatex(10px);
}

.mpCard {
  background-color: #006845;
  border: 3px solid rgba(0, 0, 0, 0.321);
  border-radius: 2rem;
  color: white;
  padding: 2px 2px;
}

.mediosdePago {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
}

.imgMedios {
  width: 12rem;
}

.pictureMP {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grillaProductos {
  width: 100%;
  margin: 0px auto;
}
@media screen and (min-width: 600px) {
  .grillaProductos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "pUno pDos" "pTres pCuatro" "pCinco pSeis";
  }
}
@media screen and (min-width: 992px) {
  .grillaProductos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "pUno pDos pTres" "pCuatro pCinco pSeis";
  }
}

.pUno {
  grid-area: pUno;
}

.pDos {
  grid-area: pDos;
}

.pTres {
  grid-area: pTres;
}

.pCuatro {
  grid-area: pCuatro;
}

.pCinco {
  grid-area: pCinco;
}

.pSeis {
  grid-area: pSeis;
}

.productos {
  height: 35rem;
  width: 26rem;
  background-color: #006845;
  border: 3px solid rgba(0, 0, 0, 0.321);
  border-radius: 2rem;
  margin: 5rem 5rem 5rem 5rem;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: white;
}
@media screen and (min-width: 600px) {
  .productos {
    height: auto;
  }
}

.imgM {
  width: 100%;
}

.carruCenter {
  width: 80%;
  margin: 5px 5px 5px 5px;
}

.telMail {
  color: white;
  background-color: #006845;
  height: 13rem;
  font-family: "Lato", sans-serif;
  padding: 2rem 2rem 2rem 2rem;
  font-size: 1.5rem;
  border: 5px solid black;
}
@media screen and (min-width: 600px) {
  .telMail {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 992px) {
  .telMail {
    font-size: 2rem;
  }
}

.formulario {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  background-color: #006845;
  width: 40rem;
  height: auto;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem 1rem 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardNew {
  height: auto;
  width: 80;
  background-color: #006845;
  border: 3px solid rgba(0, 0, 0, 0.321);
  border-radius: 2rem;
  margin: 5rem 5rem 5rem 5rem;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: white;
}

.imagenNew {
  width: 100%;
}

.carousel-inner {
  height: auto;
  width: 90rem;
}

.whatsaap {
  float: right;
  position: sticky;
  bottom: 0;
  margin-top: -15vh;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.whatsaap :hover {
  transform: rotate(360deg);
  transition: all 3s;
}

footer {
  color: aliceblue;
  font-size: 1.5rem;
  margin: 0px auto;
  background: linear-gradient(0deg, rgb(0, 0, 0) 10%, rgb(5, 28, 20) 56%, rgb(13, 70, 51) 96%, rgb(13, 70, 51) 100%);
  font-family: "Lato", sans-serif;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subir {
  margin-top: 6px;
  margin-bottom: 2px;
}
.subir:hover {
  transform: scale(1.1);
}

.redes {
  width: 26rem;
  margin-top: 2px;
  border-right: solid white 1px;
  border-left: solid white 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.links {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 600px) {
  .links {
    width: 66rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
@media screen and (min-width: 992px) {
  .links {
    width: 100rem;
  }
}

.resena:hover {
  transform: scale(1.1);
}

.redesI:hover {
  transform: scale(1.1);
}

.mercado:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 600px) {
  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=style.css.map */
