.grillaProductos{
    width: 100%;
    margin: 0px auto;
    @include tablet{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "pUno pDos"
        "pTres pCuatro"
        "pCinco pSeis";
    }
    @include descktop{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "pUno pDos pTres"
        "pCuatro pCinco pSeis";
    }
}
.pUno{
    grid-area: pUno;
} 
.pDos{
    grid-area: pDos;
} 
.pTres{
    grid-area: pTres;
} 
.pCuatro{
    grid-area: pCuatro;
} 
.pCinco{
    grid-area: pCinco;
} 
.pSeis{
    grid-area: pSeis;
}
.productos{
    height: 35rem;
    width: 26rem;
    background-color: #006845;
    border: 3px solid rgba(0, 0, 0, 0.321);
    border-radius: 2rem;
    margin: 5rem 5rem 5rem 5rem;
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato',sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    @include tablet{
        height: auto;
    }
}
.imgM{
    width: 100%;
}
.carruCenter{
    width:80%;
    margin: 5px 5px 5px 5px;
}